html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Special Elite', cursive;
}

canvas {
  display: block;
  z-index: -1;
}

.title-box {
  background-color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 600px;
  height: 200px;
  transform: translate(-50%, -50%);
}

.stages {
   background-color: rgba(0, 0, 0, 0.5);
   position: absolute;
   left: 50%;
   top: 50%;
   width: 800px;
   height: 600px;
   transform: translate(-50%, -50%);
   padding-top: 50px;
}

.container {
  width: 400px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  margin-top: 100px;
}

#door1{
  width:100px;
  height:150px;
  padding-top: 50px;
  float: left;
  background-color: black;
}

#door2{
  width:100px;
  height:150px;
  padding-top: 50px;
  float: left;
  background-color: black;
  margin-left: 53px;
}

#door3{
  width:100px;
  height:150px;
  padding-top: 50px;
  float: right;
  background-color: black;
}

#myContainerB {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#myContainerG {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#door_writing {
  font-family: 'Sancreek', cursive;
  font-size: 18px;
}
